<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ProjectR0713225 · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <%= if Guardian.Plug.current_resource(@conn)  do %>
        <nav role="navigation">
        <ul>
          <p><%= Guardian.Plug.current_resource(@conn).username%> <%= gettext "is now logged in." %> </p>
          <li><a href="/">Home</a></li>
          <li><a href="/profile"> <%= gettext "My profile" %></a></li>
          <li><a href="<%= Routes.session_path(@conn, :new) %>"><%= gettext "Login" %></a></li>
          <li><a href="<%= Routes.session_path(@conn, :logout) %>"><%= gettext "Logout" %></a></li>
          <%= if Guardian.Plug.current_resource(@conn) != nil and Guardian.Plug.current_resource(@conn).role == "Admin" do %>
          <li><a href="<%= Routes.user_path(@conn, :index) %>"> <%= gettext "User Management" %></a></li>
          <%end%>
        </ul>
      </nav>
      <%end%>
        <ul>
          <br>
          <p><%= gettext "Project of Arnaud Vanspauwen" %></p>
          <p><%= gettext "choose language:" %></p>
          <li><%= new_locale @conn, :en, "EN" %></li>
          <li><%= new_locale @conn, :nl, "NL" %></li>
        </ul>
      </section>
      
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
